:root {
  --color-accent: #2196f3;
  --color-btn-active: #188ce8;
  --color-main: #757575;
  --color-header: #212121;
  --color-logo: #000000;
  --color-bgr-head: #ffffff;
  --color-bgr-main: #f5f5f5;
  --color-bgr-alternative: #f5f4fa;
  --color-bgr-hero: #c4c4c4;
  --color-bgr-footer: #2f303a;
  --color-border-section: #ececec;
  --color-border-card: #eeeeee;
  --color-border-client: #afb1b8;
  --color-footer-contact: rgba(255, 255, 255, 0.6);
  --color-gradient: rgba(47, 48, 58, 0.4);
  --color-bgr-icon: rgba(255, 255, 255, 0.1);
  --color-icon: #afb1b8;
  --time-animation: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.portfolio__button, .feedback-form__submit-button, .subscription__button, .hero__button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.feedback-form__submit-button, .subscription__button, .hero__button {
  background-color: var(--color-accent);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-bgr-head);
  border: none;
}

.container {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.portfolio, .clients, .team, .work, .principles {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects, .footer__list, .social, .grid {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.consent__checkbox, .portfolio__heading, .principles__heading {
  position: absolute;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link, .footer__link, .contact__link, .navigation__link,
.logo-link {
  text-decoration: none;
  font-style: normal;
}

body {
  background-color: var(--color-bgr-head);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-main);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main__hero {
  margin-left: auto;
  margin-right: auto;
}

.link, .footer__link, .contact__link, .navigation__link {
  color: var(--color-main);
  transition: color var(--time-animation) var(--timing-function);
}
.link:hover, .footer__link:hover, .contact__link:hover, .navigation__link:hover, .link:focus, .footer__link:focus, .contact__link:focus, .navigation__link:focus {
  color: var(--color-accent);
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;
  text-align: center;
  color: var(--color-header);
}

.current {
  position: relative;
  color: var(--color-accent);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 2px;
}

.grid__item:not(:last-child) {
  margin-right: 30px;
}

.container {
  width: 1200px;
  padding: 0 15px;
}

.flex-container, .projects, .clients__link, .contact, .navigation, .social__link, .social, .grid {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-accent);
  text-decoration: none;
  font-style: normal;
}
.logo__header {
  color: var(--color-logo);
}
.logo__footer {
  color: var(--color-bgr-head);
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  fill: currentColor;
}
.social__link {
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.navigation__item {
  display: block;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-header);
}

.contact__item {
  display: flex;
  align-items: center;
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}
.contact__link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact__text {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact__bgr-icon {
  display: flex;
  align-items: center;
  color: var(--color-main);
}
.contact__icon:hover {
  color: var(--color-accent);
}
.contact__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid var(--color-border-section);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header__navigation {
  margin-left: 93px;
}
.header__contact {
  margin-left: auto;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  background-color: var(--color-bgr-hero);
  background-image: linear-gradient(to right, var(--color-gradient), var(--color-gradient)), url("../images/img_hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.hero__heading {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-bgr-head);
}
.hero__button {
  min-width: 216px;
  padding: 10px 32px;
  box-shadow: 0;
  transition: background-color var(--time-animation) var(--timing-function), box-shadow var(--time-animation) var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--color-btn-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.principles__item {
  width: 270px;
}
.principles__item-header {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-header);
}
.principles__icon-bgr {
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bgr-alternative);
  border-radius: 4px;
}

.work {
  padding-top: 0;
}
.work__heading {
  margin-bottom: 50px;
}
.work__description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  line-height: 1.14;
  color: var(--color-bgr-head);
  text-transform: uppercase;
  font-weight: 700;
}
.work__grid {
  position: relative;
  overflow: hidden;
}

.team {
  background-color: var(--color-bgr-alternative);
}
.team__heading {
  margin-bottom: 50px;
}
.team__card {
  width: 270px;
  background-color: var(--color-bgr-head);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__description {
  padding: 30px 32px;
  text-align: center;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-header);
}
.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}
.team__link {
  background-color: var(--color-bgr-head);
  color: var(--color-icon);
  transition: background-color var(--time-animation) var(--timing-function), color var(--time-animation) var(--timing-function);
}
.team__link:hover, .team__link:focus {
  background-color: var(--color-accent);
  color: var(--color-bgr-head);
}

.team__link:hover .social__icon, .team__link:focus .social__icon {
  fill: var(--color-bgr-head);
}

.clients__heading {
  margin-bottom: 50px;
}
.clients__grid {
  width: 170px;
  height: 92px;
  box-sizing: border-box;
}
.clients__link {
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-icon);
  border: 1px solid var(--color-border-client);
  border-radius: 4px;
  transition: border var(--time-animation) var(--timing-function), color var(--time-animation) var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}
.clients__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--color-bgr-footer);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__address {
  margin-right: 30px;
  width: 270px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__appeal {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-bgr-head);
}
.footer__link {
  background-color: var(--color-bgr-icon);
  color: var(--color-bgr-head);
  transition: background-color var(--time-animation) var(--timing-function), color var(--time-animation) var(--timing-function);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--color-accent);
  color: var(--color-accent);
}
.footer__text {
  color: var(--color-bgr-head);
}
.footer__contact {
  color: var(--color-footer-contact);
}
.footer__subscription {
  margin-left: auto;
}

.footer__link:hover .social__icon, .footer__link:focus .social__icon {
  fill: var(--color-bgr-head);
}

.subscription__input {
  padding: 15px;
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  font-family: inherit;
  background-color: rgba(33, 150, 243, 0);
  color: var(--color-bgr-head);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.subscription__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
.subscription__button {
  min-width: 200px;
  padding: 10px 28px;
  text-align: left;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscription__button:hover, .subscription__button:focus {
  background-color: var(--color-accent);
}

.portfolio__grid-button {
  margin-bottom: 50px;
}
.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__button {
  padding: 6px 22px;
  background-color: var(--color-bgr-alternative);
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--color-header);
  box-shadow: 0;
  transition: background-color var(--time-animation) var(--timing-function), color var(--time-animation) var(--timing-function), box-shadow var(--time-animation) var(--timing-function);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--color-accent);
  color: var(--color-bgr-head);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  flex-wrap: wrap;
}
.projects__item {
  width: calc((100% - 60px) / 3);
  background-color: var(--color-bgr-head);
}
.projects__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.projects__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}
.projects__relation {
  position: relative;
  overflow: hidden;
}
.projects__link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-style: normal;
  box-shadow: 0;
  transition: box-shadow var(--time-animation) var(--timing-function);
}
.projects__description {
  padding: 20px 24px;
  border-right: 1px solid var(--color-border-card);
  border-bottom: 1px solid var(--color-border-card);
  border-left: 1px solid var(--color-border-card);
}
.projects__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-header);
}
.projects__application {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-main);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__text {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-bgr-head);
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--time-animation) var(--timing-function), opacity var(--time-animation) var(--timing-function);
}
.projects__link:hover .projects__text, .projects__link:focus .projects__text {
  transform: translateY(0);
  opacity: 1;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.field__box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.field__input {
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.field__active {
  border-radius: 4px;
  transition: border var(--time-animation) var(--timing-function);
}
.field__active:hover, .field__active:focus {
  outline: none;
  border: 1px solid var(--color-accent);
}
.field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--color-header);
  transform: translateY(-50%);
  transition: fill var(--time-animation) var(--timing-function);
}
.field__last {
  margin-bottom: 20px;
}
.field__placeholder {
  padding: 11px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--time-animation) var(--timing-function);
}
.field__placeholder::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.field__placeholder:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.field__placeholder::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field__input:hover + .field__icon, .field__input:focus + .field__icon {
  fill: var(--color-accent);
}

.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-main);
}

.consent__checkbox:checked + .consent__label > .consent__icon {
  border: none;
}
.consent__checkbox:checked + .consent__label .consent__svg {
  fill: var(--color-accent);
}
.consent__label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.consent__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-header);
  border-radius: 2px;
  transition: border var(--time-animation) var(--timing-function);
}
.consent__svg {
  fill: transparent;
  transition: fill var(--time-animation) var(--timing-function);
}
.consent__text {
  margin-right: 4px;
}
.consent__link {
  color: var(--color-accent);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--time-animation) var(--timing-function);
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .feedback-form {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  font-family: inherit;
  justify-content: center;
  align-items: center;
  background: var(--color-bgr-head);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity var(--time-animation) var(--timing-function) var(--time-animation), transform var(--time-animation) var(--timing-function) var(--time-animation);
}
.feedback-form__header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-header);
}
.feedback-form__submit-button {
  min-width: 200px;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-animation) var(--timing-function);
}
.feedback-form__submit-button:hover, .feedback-form__submit-button:focus {
  background-color: var(--color-btn-active);
}
.feedback-form__close-button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--color-bgr-head);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-logo);
  transition: color var(--time-animation) var(--timing-function);
}
.feedback-form__close-button:hover, .feedback-form__close-button:focus {
  color: var(--color-accent);
}
.feedback-form__close-icon {
  fill: currentColor;
}

.field {
  margin-bottom: 10px;
}

.consent {
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */