.navigation {
	@extend .flex-container;

	&__item {
		display: block;
	}

	&__item:not(:last-child) {
		margin-right: 50px;
	}

	&__link {
		@extend .link;
		padding-top: 32px;
		padding-bottom: 32px;

		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.02em;
		color: var(--color-header);
	}
}